/*******************************************************************************
UiO App
App-main styles
********************************************************************************


********************************************************************************
app-main

- Set top/bottom spacing of app-main area.
- Setting side-spacing (left/right padding/margin) is not recommended.
*******************************************************************************/

#app-main {
  padding-top: 25px;
  padding-bottom: 50px;
}


/*******************************************************************************
app-global-wrapper

- This has global styles (see app-global css).
- App can have max-width different from global if desired.
- Changing side-spacing (left/right padding/margin) is not recommended.
- Background image and height can be freely edited or removed.
*******************************************************************************/

#app-main .app-global-wrapper {
  background: url("../images/app.svg") no-repeat center;
  min-height: 400px;
}
